  {{> header}}
  

 <div class="container">
            <div class="row bg-light text-dark">
            <h1>Movie title: {{event.title}}</h1>
                
                <div class="col-md-8">
                    <img class="img-thumbnail" src="{{event.imageUrl}}" alt="Movie">
                </div>
                <div class="col-md-4 text-center">
                    <h3 class="my-3 ">Movie Description</h3>
                    <p>{{event.description}}</p>
                    
                    {{#if isCreator}}
                    <a class="btn btn-danger" href="#/close/{{event.id}}">Delete</a>
                    <a class="btn btn-warning" href="#/edit/{{event.id}}">Edit</a>
                    {{else}}
                    <a class="btn btn-primary" href="#/join/{{event.id}}">Like</a>
                    <span class="enrolled-span">Liked {{event.likes}}</span>
                    {{/if}}
                </div>
            </div>
        </div>

   {{> footer}}